.container {
    max-width: 2033px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {   
    padding: 30px 0;
}

.header-top {
    display: flex;
    justify-content: first baseline;
    align-items: center;
}

.logo {
    display: inline-block;
    max-width: 195px;
}

.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.menu-item {
    display: flex;
    margin: 0 20px 0 20px;
}
.menu-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s linear;
    text-decoration-style: solid;
}

.menu-link:hover {
    color: rgb(231, 64, 92);
}